/*Begin Mobile*/
@media screen and (max-width: 640px) {

    body header img {
        width: 100%;
        height: auto;
    }
    
    nav ul li {
        border-radius: 1em;
    }

    main div .center {
        width: 95%;
    }

    .tablet {
        display: none;
    }

    .desktop {
        display: none;
    }
}

/*End Mobile*/